youtube_transcript_api

google-generativeai
python-dotenv
pathlib
streamlit



PyPDF2

langchain_google_genai

pdfplumber


chromadb
pdf2image
Pillow

langchain

pip install langchain_text_splitters streamlit Pillow PyPDF2 youtube_transcript_api google.generativeai langchain_google_genai google.generativeai langchain_google_genai langchain.chains.question_answering langchain.prompts










